.popup__close-button_type_edit {
    position: relative;
    left: 420px;
    top: 5px;
}

@media screen and (max-width: 610px) {
    .popup__close-button_type_edit {
        top: 5px;
        left: 280px;
    }
}