.card__heart-icon {
  -webkit-tap-highlight-color: transparent;
  align-self: center;
  cursor: pointer;
  width: 21px;
  height: 19px;
  border: 0;
  outline: none;
  background-color: #fff;
  background-image: url(../../../images/heart-icon.svg);
  background-repeat: no-repeat;
}

.card__heart-icon:focus {
  outline: none;
}
