@import url(./__about/profile__about.css);
@import url(./__add-button/profile__add-button.css);
@import url(./__details/profile__details.css);
@import url(./__description/profile__description.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__image-container/profile__image-container.css);
@import url(./__image-overlay/profile__image-overlay.css);
@import url(./__image/profile__image.css);
@import url(./__name-wrapper/profile__name-wrapper.css);
@import url(./__name/profile__name.css);

.profile {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 50px;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    margin: 40px auto 36px auto;
  }
}
