.profile__add-button {
  height: 50px;
  width: 150px;
  outline: none;
  background-image: url(../../../images/plus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 2px solid #fff;
  align-self: center;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .profile__add-button {
    width: 100%;
    margin-top: 36px;
  }
}
