.profile__add-button {
  height: 50px;
  width: 150px;
  background-color: #000;
  border: 1px solid white;
  align-self: center;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .profile__add-button {
    width: 100%;
    margin-top: 36px;
  }
}
