.profile__edit-button {
  border: 0;
  outline: none;
  background-color: transparent;
  align-self: center;
  margin-left: 18px;
  transition: opacity 0.4s ease;
  cursor: pointer;
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .profile__edit-button {
    margin-left: 10px;
  }
}

@media screen and (max-width: 610px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
