@import url(type/popup__close-icon_type_add-img.css);
@import url(type/popup__close-icon_type_edit.css);
@import url(type/popup__close-icon_type_image.css);

.popup__close-icon {
  outline: 0;
  border: 0;
  width: 50px;
  height: 50px;
  background-image: url(../../../images/close-icon.svg);
  background-size: contain;
  background-color: transparent;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 610px) {
  .popup__close-icon {
    width: 30px;
    height: 30px;
  }
}