.card__delete {
    background-image: url(../../../images/trash-icon.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    width: 18px;
    height: 19px;
    border: 0;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 18px;
    right: 15px;
}