.content {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .content {
      width: 75%;
  }
}
