.image-popup__close-button {
    outline: 0;
    border: 0;
    width: 50px;
    height: 50px;
    background-image: url(../../../images/close-icon.svg);
    background-size: contain;
    background-color: transparent;
    transition: opacity 0.4s ease;
    cursor: pointer;
    position: absolute;
    right: -45px;
    top: -40px;
}

.image-popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 610px) {
    .image-popup__close-button {
        width: 26px;
        height: 26px;
    }
}